h1,
h2 {
  text-align: center;
  color: teal;
}

form {
  text-align: center;
}

.column {
  float: left;
  width: 33.33%;
}
.row:after {
  content: "";
  display: table;
  clear: both;
}

ol {
  list-style: none;
  padding: 5px;
}
li {
  padding: 5px 10px;
  background-color: #eeeeee;
  border: 1px solid #dddddd;
  text-align: center;
}

.hovered-list {
  background-color: teal;
  border: 1px solid #dddddd;
}
